/* Common
-----------------------------*/
body {
    margin: 0;
    padding: 88px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,48%);
    display: none;
    z-index: 2;
}

* {
    box-sizing: border-box;
}
