/* Контакты
-----------------------------*/
.contacts {
    padding: 46px 0;

    &__title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 28px;

        @media (max-width: 767px) {
            text-align: left;
        }
    }

    .contacts-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 340px;
        margin: 0 auto;

        &__link {
            background-color: #FFF;
            border: 1px solid #F0F0F0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            border-radius: 14px;
            padding: 14px 14px 14px 85px;
            width: 100%;
            margin: 5px 0;
            height: 65px;
            font-size: 16px;
            color: #000;
            text-decoration: none;
            align-items: center;
            display: inline-flex;
            transition: all .3s ease;

            &:hover {
                background-color: #f9f9f9;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }

            &--facebook {
                background-image: url('../img/social__facebook.svg');
                background-repeat: no-repeat;
                background-position: 20px 13px;
            }
            &--instagram {
                background-image: url('../img/social__instagram.svg');
                background-repeat: no-repeat;
                background-position: 20px 13px;
            }
            &--vkontakte {
                background-image: url('../img/social__vk.svg');
                background-repeat: no-repeat;
                background-position: 20px 21px;
            }
            &--odnoklassniki {
                background-image: url('../img/social__ok.svg');
                background-repeat: no-repeat;
                background-position: 20px 13px;
            }
        }

        @media (max-width: 380px) {
            width: 100%;
        }
    }
}