/* Footer
-----------------------------*/
footer {
    background: #222427;
    padding: 60px 0;
    text-align: center;
    margin-top: 40px;
}

.footer-items {
    &__link {
        img {
            width: 36px;
            margin: 0 8px;
        }
    }
}