/* Form
-----------------------------*/
.profile-form {
    padding: 60px 0;
    &__title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 28px;

        @media (max-width: 767px) {
            text-align: left;
        }
    }
}

.form {
    background: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 40px 30px 40px;

    &__title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 28px;
    }

    @media (max-width: 640px) {
        margin-left: -20px;
        width: calc(~'100% + 40px');
        max-width: initial;
        border-radius: 0;
        padding: 20px;

    }
}

.form-fields {
    margin: 16px 0;
    position: relative;
    display: flex;
    align-items: center;

    &--bg {
        background: #f9fafb;
        border: 1px solid #c5c5c5;
        border-radius: 14px;

        label {
            padding-left: 24px;
        }
    }

    &--2col {
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .field {
            width: 50%;
            label {
                display: block;
                margin-bottom: 8px;
            }
            @media (max-width: 600px) {
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }
    }

    &__input-text {
        background: #f9fafb;
        border: none;
        outline: none;
        width: calc(~'100% - 200px');
        margin-left: auto;
        color: #22293E;
        padding: 15px 40px 15px 0;
        border-radius: 14px;
        @media (max-width: 640px) {
            width: calc(~'100% - 100px');
        }
    }

    &__date {
        input {
            background: url('../img/icon__calendar.svg') #f9fafb no-repeat calc(~'100% - 20px') 50%;
            border: 1px solid #c5c5c5;
            border-radius: 14px;
            outline: none;
            margin-left: auto;
            color: #22293E;
            height: 47px;
            padding: 0 20px;
            @media (max-width: 600px) {
                width: 100%;
            }
        }
    }

    &__checkbox {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;

        label {
            padding-right: 10px;
            display: inline-flex !important;
            width: 50%;
            input {
                width: 16px;
                height: 16px;
                -webkit-appearance: none;
                background: #f9fafb;
                border: 1px solid #c5c5c5;
                border-radius: 14px;
                margin: 0 10px 0 0;
                position: relative;
                outline: none;
                &:after {
                    content: '';
                    background: url('../img/icon__checkbox.svg') no-repeat;
                    width: 16px;
                    height: 12px;
                    position: absolute;
                    top: 0;
                    left: 1px;
                    transform: scale(0);
                    transition: all .3s ease;
                }
                &:checked:after {
                    transform: scale(1);
                }
            }
            @media (max-width: 600px) {
                width: auto;
                &:not(:last-child) {
                    padding-right: 40px;
                }
            }

        }
    }

    label {
        font-size: 14px;
        color: #8F8F8F;
    }

    .edit-field {
        background: url('../img/icon__edit.svg') no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 16px;
        top: 16px;
        transition: all .3s ease;

        &:hover {
            opacity: .7;
        }
    }
}

.btn {
    border-radius: 14px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 62px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s ease;
    &.btn-red {
        background: #DB3A3A;
        color: #fff;
        &:hover {
            background: darken(#DB3A3A, 5%);
        }
    }
}