/* Header
-----------------------------*/
header {
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

.mobile-menu {
    width: 28px;
    display: none;

    div {
        height: 3px;
        background: #564F64;
        border-radius: 2px;
        margin: 6px 0;
        transition: all .3s ease;
        &:nth-child(1) {
            width: 16px;
        }
        &:nth-child(2) {
            width: 100%;
        }
        &:nth-child(3) {
            width: 13px;
        }
    }

    @media (max-width: 767px) {
        display: block;
    }
}

.mobile-menu-close {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;

    &:before,
    &:after {
        content: '';
        display: block;
        background: #000;
        position: absolute;
        width: 16px;
        height: 3px;
        top: 13px;
        right: 6px;
        border-radius: 8px;
    }

    &:after {
        transform: rotate(45deg);
    }

    &:before {
        transform: rotate(-45deg);
    }
    @media (max-width: 767px) {
        display: block;
    }
}

.header-logo {
    img {
        width: 70px;
    }

    @media (max-width: 767px) {
        order: 1;
    }
}

.header-nav {
    width: 45%;

    @media (max-width: 992px) {
        width: 60%;
    }

    @media (max-width: 767px) {
        width: auto;
        order: 3;
        nav {
            right: -100%;
            transition: all .3s ease;
            width: calc(~'100% - 95px');
            position: fixed;
            top: 0;
            bottom: 0;
            background: #fff;
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px 0 30px;

            &.opened {
                right: 0;
            }
            .header-nav-list {
                flex-wrap: wrap;
            }
            .header-nav-list__item {
                width: 100%;
                margin: 20px 0;
            }
            .header-nav-list__link {
                font-size: 24px;
            }
        }
    }
}

.header-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    &__link {
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        color: #000;
        transition: all .3s ease;

        &:hover {
            color: lighten(#000, 30%);
        }
    }
}

.header-language {
    &__link {
        font-size: 14px;
        font-weight: 400;
        color: #000;
        text-decoration: none;
        &--active {
            color: #DB3A3A;
            font-weight: 700;
        }
    }

    @media (max-width: 767px) {
        order: 2;
        margin-left: auto;
        padding-right: 40px;
    }
}