/* Header
-----------------------------*/
header {
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}
.mobile-menu {
  width: 28px;
  display: none;
}
.mobile-menu div {
  height: 3px;
  background: #564F64;
  border-radius: 2px;
  margin: 6px 0;
  transition: all .3s ease;
}
.mobile-menu div:nth-child(1) {
  width: 16px;
}
.mobile-menu div:nth-child(2) {
  width: 100%;
}
.mobile-menu div:nth-child(3) {
  width: 13px;
}
@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu-close {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.mobile-menu-close:before,
.mobile-menu-close:after {
  content: '';
  display: block;
  background: #000;
  position: absolute;
  width: 16px;
  height: 3px;
  top: 13px;
  right: 6px;
  border-radius: 8px;
}
.mobile-menu-close:after {
  transform: rotate(45deg);
}
.mobile-menu-close:before {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .mobile-menu-close {
    display: block;
  }
}
.header-logo img {
  width: 70px;
}
@media (max-width: 767px) {
  .header-logo {
    order: 1;
  }
}
.header-nav {
  width: 45%;
}
@media (max-width: 992px) {
  .header-nav {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .header-nav {
    width: auto;
    order: 3;
  }
  .header-nav nav {
    right: -100%;
    transition: all .3s ease;
    width: calc(100% - 95px);
    position: fixed;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 30px;
  }
  .header-nav nav.opened {
    right: 0;
  }
  .header-nav nav .header-nav-list {
    flex-wrap: wrap;
  }
  .header-nav nav .header-nav-list__item {
    width: 100%;
    margin: 20px 0;
  }
  .header-nav nav .header-nav-list__link {
    font-size: 24px;
  }
}
.header-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.header-nav-list__link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  transition: all .3s ease;
}
.header-nav-list__link:hover {
  color: #4d4d4d;
}
.header-language__link {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}
.header-language__link--active {
  color: #DB3A3A;
  font-weight: 700;
}
@media (max-width: 767px) {
  .header-language {
    order: 2;
    margin-left: auto;
    padding-right: 40px;
  }
}
/*# sourceMappingURL=_header.css.map */