/* Read more
-----------------------------*/
.readmore {
    background: #F4F4F4;
    padding: 60px 0;

    &__title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 28px;

        @media (max-width: 767px) {
            text-align: left;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
    }
}