@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBhc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
/* Common
-----------------------------*/
body {
  margin: 0;
  padding: 88px 0 0 0;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.48);
  display: none;
  z-index: 2;
}
* {
  box-sizing: border-box;
}
/* Header
-----------------------------*/
header {
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}
.mobile-menu {
  width: 28px;
  display: none;
}
.mobile-menu div {
  height: 3px;
  background: #564F64;
  border-radius: 2px;
  margin: 6px 0;
  transition: all .3s ease;
}
.mobile-menu div:nth-child(1) {
  width: 16px;
}
.mobile-menu div:nth-child(2) {
  width: 100%;
}
.mobile-menu div:nth-child(3) {
  width: 13px;
}
@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu-close {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.mobile-menu-close:before,
.mobile-menu-close:after {
  content: '';
  display: block;
  background: #000;
  position: absolute;
  width: 16px;
  height: 3px;
  top: 13px;
  right: 6px;
  border-radius: 8px;
}
.mobile-menu-close:after {
  transform: rotate(45deg);
}
.mobile-menu-close:before {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .mobile-menu-close {
    display: block;
  }
}
.header-logo img {
  width: 70px;
}
@media (max-width: 767px) {
  .header-logo {
    order: 1;
  }
}
.header-nav {
  width: 45%;
}
@media (max-width: 992px) {
  .header-nav {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .header-nav {
    width: auto;
    order: 3;
  }
  .header-nav nav {
    right: -100%;
    transition: all .3s ease;
    width: calc(100% - 95px);
    position: fixed;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 30px;
  }
  .header-nav nav.opened {
    right: 0;
  }
  .header-nav nav .header-nav-list {
    flex-wrap: wrap;
  }
  .header-nav nav .header-nav-list__item {
    width: 100%;
    margin: 20px 0;
  }
  .header-nav nav .header-nav-list__link {
    font-size: 24px;
  }
}
.header-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.header-nav-list__link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  transition: all .3s ease;
}
.header-nav-list__link:hover {
  color: #4d4d4d;
}
.header-language__link {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}
.header-language__link--active {
  color: #DB3A3A;
  font-weight: 700;
}
@media (max-width: 767px) {
  .header-language {
    order: 2;
    margin-left: auto;
    padding-right: 40px;
  }
}
/* Form
-----------------------------*/
.profile-form {
  padding: 60px 0;
}
.profile-form__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .profile-form__title {
    text-align: left;
  }
}
.form {
  background: #FFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 40px 30px 40px;
}
.form__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}
@media (max-width: 640px) {
  .form {
    margin-left: -20px;
    width: calc(100% + 40px);
    max-width: initial;
    border-radius: 0;
    padding: 20px;
  }
}
.form-fields {
  margin: 16px 0;
  position: relative;
  display: flex;
  align-items: center;
}
.form-fields--bg {
  background: #f9fafb;
  border: 1px solid #c5c5c5;
  border-radius: 14px;
}
.form-fields--bg label {
  padding-left: 24px;
}
.form-fields--2col {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.form-fields--2col .field {
  width: 50%;
}
.form-fields--2col .field label {
  display: block;
  margin-bottom: 8px;
}
@media (max-width: 600px) {
  .form-fields--2col .field {
    width: 100%;
  }
  .form-fields--2col .field:not(:last-child) {
    margin-bottom: 16px;
  }
}
.form-fields__input-text {
  background: #f9fafb;
  border: none;
  outline: none;
  width: calc(100% - 200px);
  margin-left: auto;
  color: #22293E;
  padding: 15px 40px 15px 0;
  border-radius: 14px;
}
@media (max-width: 640px) {
  .form-fields__input-text {
    width: calc(100% - 100px);
  }
}
.form-fields__date input {
  background: url('../img/icon__calendar.svg') #f9fafb no-repeat calc(100% - 20px) 50%;
  border: 1px solid #c5c5c5;
  border-radius: 14px;
  outline: none;
  margin-left: auto;
  color: #22293E;
  height: 47px;
  padding: 0 20px;
}
@media (max-width: 600px) {
  .form-fields__date input {
    width: 100%;
  }
}
.form-fields__checkbox {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}
.form-fields__checkbox label {
  padding-right: 10px;
  display: inline-flex !important;
  width: 50%;
}
.form-fields__checkbox label input {
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  background: #f9fafb;
  border: 1px solid #c5c5c5;
  border-radius: 14px;
  margin: 0 10px 0 0;
  position: relative;
  outline: none;
}
.form-fields__checkbox label input:after {
  content: '';
  background: url('../img/icon__checkbox.svg') no-repeat;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 1px;
  transform: scale(0);
  transition: all .3s ease;
}
.form-fields__checkbox label input:checked:after {
  transform: scale(1);
}
@media (max-width: 600px) {
  .form-fields__checkbox label {
    width: auto;
  }
  .form-fields__checkbox label:not(:last-child) {
    padding-right: 40px;
  }
}
.form-fields label {
  font-size: 14px;
  color: #8F8F8F;
}
.form-fields .edit-field {
  background: url('../img/icon__edit.svg') no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: all .3s ease;
}
.form-fields .edit-field:hover {
  opacity: .7;
}
.btn {
  border-radius: 14px;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  height: 62px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  transition: all .3s ease;
}
.btn.btn-red {
  background: #DB3A3A;
  color: #fff;
}
.btn.btn-red:hover {
  background: #d52727;
}
/* Read more
-----------------------------*/
.readmore {
  background: #F4F4F4;
  padding: 60px 0;
}
.readmore__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .readmore__title {
    text-align: left;
  }
}
.readmore__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
/* Контакты
-----------------------------*/
.contacts {
  padding: 46px 0;
}
.contacts__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .contacts__title {
    text-align: left;
  }
}
.contacts .contacts-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 340px;
  margin: 0 auto;
}
.contacts .contacts-buttons__link {
  background-color: #FFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding: 14px 14px 14px 85px;
  width: 100%;
  margin: 5px 0;
  height: 65px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  align-items: center;
  display: inline-flex;
  transition: all .3s ease;
}
.contacts .contacts-buttons__link:hover {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.contacts .contacts-buttons__link--facebook {
  background-image: url('../img/social__facebook.svg');
  background-repeat: no-repeat;
  background-position: 20px 13px;
}
.contacts .contacts-buttons__link--instagram {
  background-image: url('../img/social__instagram.svg');
  background-repeat: no-repeat;
  background-position: 20px 13px;
}
.contacts .contacts-buttons__link--vkontakte {
  background-image: url('../img/social__vk.svg');
  background-repeat: no-repeat;
  background-position: 20px 21px;
}
.contacts .contacts-buttons__link--odnoklassniki {
  background-image: url('../img/social__ok.svg');
  background-repeat: no-repeat;
  background-position: 20px 13px;
}
@media (max-width: 380px) {
  .contacts .contacts-buttons {
    width: 100%;
  }
}
/* Footer
-----------------------------*/
footer {
  background: #222427;
  padding: 60px 0;
  text-align: center;
  margin-top: 40px;
}
.footer-items__link img {
  width: 36px;
  margin: 0 8px;
}
/*# sourceMappingURL=style.css.map */